.container {
  display: grid;
  color: var(--white);
  background: var(--primary);
  padding: 25px 30px;
  font-size: 16px;
  line-height: 20px;
  grid-template-columns: 1fr auto auto;
  gap: 40px;
}

.a {
  color: var(--white);
  text-decoration: none;
}

.a:hover {
  color: var(--gray-light);
}

@media (max-width: 765px) {
  .container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
